[submodule "bimserver"]
	path = bimserver
	url = https://github.com/jenca-cloud/bimserver.git
[submodule "models.autodesk.io"]
	path = models.autodesk.io
	url = https://github.com/jenca-cloud/Forge-Model-Convert.git
[submodule "unifluxx"]
	path = unifluxx
	url = https://github.com/loomchild/unifluxx.git
[submodule "openmaint"]
	path = openmaint
	url = https://github.com/jenca-cloud/openmaint.git
[submodule "slackin-buildingsmart"]
	path = slackin-buildingsmart
	url = https://github.com/jenca-cloud/slackin-buildingsmart.git
[submodule "vrbim"]
	path = vrbim
	url = https://github.com/jenca-cloud/vrbim.git
[submodule "slackin-jenca"]
	path = slackin-jenca
	url = https://github.com/jenca-cloud/slackin-jenca.git
[submodule "_proxy"]
	path = _proxy
	url = https://github.com/puffinrocks/proxy.git
[submodule "_mail"]
	path = _mail
	url = https://github.com/puffinrocks/mail.git
[submodule "theBIMportal"]
	path = theBIMportal
	url = https://github.com/jenca-cloud/theBIMportal.git
[submodule "Speckle-Server"]
	path = Speckle-Server
	url = git@github.com:bigdoods/Speckle-Server.git
